In [1]:
print('welcome to training session')

welcome to training session

print('Welcome to SkillsFuture Training Session!')

# Heading 1
## Heading 2
### Heading 3

# This is my first comment

In [2]:
name = 'Shivaleela'
age = 21

In [3]:
print(f'Hello, I am {name} and {age} year old')

Hello, I am Shivaleela and 21 year old

In [4]:
id(age)

140721800902184

In [5]:
hex(id(age))

'0x7ffc58f47628'

In [6]:
x = 3
y = 5

In [7]:
x + y

8

In [8]:
a = 2
b = 4

In [9]:
c = a/b

In [10]:
x = 12
id(x)

140721800901896

In [11]:
y = 12
id(y)

140721800901896

In [12]:
# Data structures - list, tuple, dic, set

In [13]:
# List - collection of any data type; []; mutable 
lst = ['apple', 'grapes','kiwi', 'mango', 'dragonfruit']

In [14]:
lst

['apple', 'grapes', 'kiwi', 'mango', 'dragonfruit']

In [15]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
# append - 'banana'
lst.append('banana')
lst

['apple', 'grapes', 'kiwi', 'mango', 'dragonfruit', 'banana']

In [17]:
lst.index('kiwi')

2

In [18]:
# insert - 'orange'
lst.insert(4, 'orange' )

In [19]:
lst

['apple', 'grapes', 'kiwi', 'mango', 'orange', 'dragonfruit', 'banana']

In [20]:
# pop and remove
lst.pop(-2)

'dragonfruit'

In [21]:
lst.remove('orange')
lst

['apple', 'grapes', 'kiwi', 'mango', 'banana']

In [22]:
lst.reverse()

In [23]:
lst

['banana', 'mango', 'kiwi', 'grapes', 'apple']

In [24]:
lst.sort()
lst

['apple', 'banana', 'grapes', 'kiwi', 'mango']

In [25]:
lst.clear()

In [26]:
lst

[]

In [27]:
# Tuple - immutable  | () all dt
tup = ('AIEMS', 'BIDADI', 56210.9)
tup

('AIEMS', 'BIDADI', 56210.9)

In [28]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [29]:
tup.count(15)

0

In [30]:
tup.index('BIDADI')

1

In [31]:
# Set - duplicates, {}
set1 = {2, 2, 2, 3, 6, 8, 10}
set1

{2, 3, 6, 8, 10}

In [32]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [33]:
set2 ={6, 7, 9, 10, 13, 15}
set2

{6, 7, 9, 10, 13, 15}

In [34]:
set1.union(set2)

{2, 3, 6, 7, 8, 9, 10, 13, 15}

In [35]:
set1.intersection(set2)

{6, 10}

In [36]:
# dictionary  - k:v  | {} | keys are always unique
dit = {'name': 'Shivaleela', 'age' : 21}
dit

{'name': 'Shivaleela', 'age': 21}

In [37]:
dir(dit)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [38]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [39]:
dit.values()

dict_values(['Shivaleela', 21])

In [40]:
dit.keys()

dict_keys(['name', 'age'])

In [41]:
print('check')

check

In [42]:
# conditional statements
# if condition
x = 10
if x >= 10:
    print('True!')

True!

In [43]:
x = 9
if x >= 10:
    print('True!')

In [44]:
if x >= 10:
    print('True!')
else:
    print('False')

False

In [45]:
marks = 90
if marks >= 90:
    print('A+')
elif marks >= 70 & marks <= 89:
    print('A')
elif marks >= 60 & marks <= 69:
    print('B')
else:
    print('C')

A+

In [46]:
marks = 55
if marks >= 90:
    print('A+')
elif marks >= 70 & marks <= 89:
    print('A')
elif marks >= 60 & marks <= 69:
    print('B')
else:
    print('C')

A

In [47]:
marks = 78
if marks >= 90:
    print('A+')
elif marks >= 70 and marks <= 89:
    print('A')
elif marks >= 60 and marks <= 69:
    print('B')
else:
    print('C')

A

In [48]:
marks = 61
if marks >= 90:
    print('A+')
elif marks >= 70 & marks <= 89:
    print('A')
elif marks >= 60 & marks <= 69:
    print('B')
else:
    print('C')

A

In [49]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [50]:
for rms in range(9):
    print(rms)

0
1
2
3
4
5
6
7
8

In [51]:
for a in range (0, 11, 12):
    print(a)

0

In [52]:
for a in range(0, 11, 2):
    print(a)

0
2
4
6
8
10

In [53]:
for rms in range(1, 11, 3):
    print(rms)

1
4
7
10

In [54]:
for rms in range(1, 12, 3):
    print(rms)

1
4
7
10

In [55]:
# while loop
count = 0
while count  <= 5:
    print(count)
    count = count + 1 #incremental

0
1
2
3
4
5

In [56]:
count=1
while count <= 5:
    print(count)
    count = count + 1

1
2
3
4
5

In [57]:
count=5
while count >= 1:
    print(count)
    count = count - 1

5
4
3
2
1

In [58]:
count=5
while count >= 0:
    print(count)
    count = count - 1

5
4
3
2
1
0

In [59]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [60]:
for i in range(5):
    if i == 4:
        break
    print(i)

0
1
2
3

In [61]:
# List Comprehension []
x = 2

In [62]:
def funcname():
    
    return

In [63]:
def addition(a, b):
    return a+b

In [64]:
addition(3, 2)

5

In [65]:
def add1(a, b, c):
    return a + b + c

add1(3, 4, 5)

12

In [66]:
def add2(*args):
    return sum(args)

In [67]:
add2(2, 9, 89, 45, 23, 54, 12, 49)

283

In [68]:
def add2(*args):
    return sum(args)

In [69]:
add2(35 , 54, 1)

90

In [70]:
def greet():
    print('HELLO!')

In [71]:
greet()

HELLO!

In [72]:
import pandas as pd
import numpy as np

In [73]:
#load the dataset 
df = pd.read_csv(r'C:\Users\shiva\aiems\Student_Behaviour.csv')
df.head()

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,65.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,69.5,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No

In [74]:
#load the dataset 
df = pd.read_csv(r'C:\Users\shiva\aiems\Student_Behaviour.csv')
df.head(3)

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,65.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,69.5,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No

In [75]:
# how to no. of rows/cols
df.shape

(235, 19)

In [76]:
print(f'The no. of rows:{df.shape[0]} and cols:{df.shape[1]}')

The no. of rows:235 and cols:19

In [77]:
# info of a dataset
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 19 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Certification Course                                    235 non-null    str
 1   Gender                                                  235 non-null    str
 2   Department                                              235 non-null    str
 3   Height(CM)                                              235 non-null    float64
 4   Weight(KG)                                              235 non-null    float64
 5   10th Mark                                               235 non-null    float64
 6   12th Mark                                               235 non-null    float64
 7   college mark                                            235 non-null    float64
 8   hobbies                                                 235 non-null    str
 9   daily studing time                                      235 non-null    str
 10  prefer to study in                                      235 non-null    str
 11  salary expectation                                      235 non-null    int64
 12  Do you like your degree?                                235 non-null    str
 13  willingness to pursue a career based on their degree    235 non-null    str
 14  social medai & video                                    235 non-null    str
 15  Travelling Time                                         235 non-null    str
 16  Stress Level                                            235 non-null    str
 17  Financial Status                                        235 non-null    str
 18  part-time job                                           235 non-null    str
dtypes: float64(5), int64(1), str(13)
memory usage: 35.0 KB

In [78]:
# stat
df.describe()

,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,salary expectation
count,235.000000,235.000000,235.000000,235.000000,235.000000,2.350000e+02
mean,157.402128,60.803830,76.842128,68.780128,70.660553,3.248168e+04
std,21.510805,14.895844,13.050800,11.016533,15.727446,1.113146e+05
min,4.500000,20.000000,7.400000,45.000000,1.000000,0.000000e+00
25%,152.000000,50.000000,70.000000,60.000000,60.000000,1.500000e+04
50%,160.000000,60.000000,80.000000,69.000000,70.000000,2.000000e+04
75%,170.000000,70.000000,86.250000,76.000000,80.000000,2.500000e+04
max,192.000000,106.000000,98.000000,94.000000,100.000000,1.500000e+06

In [79]:
# access a col
df.columns

Index(['Certification Course', 'Gender', 'Department', 'Height(CM)',
       'Weight(KG)', '10th Mark', '12th Mark', 'college mark', 'hobbies',
       'daily studing time', 'prefer to study in', 'salary expectation',
       'Do you like your degree?',
       'willingness to pursue a career based on their degree  ',
       'social medai & video', 'Travelling Time ', 'Stress Level ',
       'Financial Status', 'part-time job'],
      dtype='str')

In [80]:
df.Gender

0        Male
1      Female
2        Male
3      Female
4        Male
        ...
230      Male
231      Male
232    Female
233    Female
234    Female
Name: Gender, Length: 235, dtype: str

In [81]:
df.Certification Course

SyntaxError: invalid syntax (4119911433.py, line 1)

In [ ]:
df['Certification Course']

0       No
1       No
2      Yes
3      Yes
4       No
      ...
230    Yes
231    Yes
232    Yes
233    Yes
234     No
Name: Certification Course, Length: 235, dtype: str

In [ ]:
# rows - loc method
df.loc[0:5]

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,65.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,69.5,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No
5,Yes,Female,BCA,139.0,33.0,90.0,75.0,70.0,Cinema,30 - 60 minute,Night,20000,Yes,50%,30 - 60 Minute,0 - 30 minutes,Bad,good,No

In [ ]:
# rows - loc method
df.loc[2:5]

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
2,Yes,Male,BCA,159.0,78.0,69.5,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No
5,Yes,Female,BCA,139.0,33.0,90.0,75.0,70.0,Cinema,30 - 60 minute,Night,20000,Yes,50%,30 - 60 Minute,0 - 30 minutes,Bad,good,No

In [ ]:
df.iloc[2:5,1:3]

   Gender Department
2    Male        BCA
3  Female        BCA
4    Male        BCA

In [ ]:
df.iloc[2:5,1:5]

   Gender Department  Height(CM)  Weight(KG)
2    Male        BCA       159.0        78.0
3  Female        BCA       147.0        20.0
4    Male        BCA       170.0        54.0

In [ ]:
df.iloc[2:8,1:5]

   Gender Department  Height(CM)  Weight(KG)
2    Male        BCA       159.0        78.0
3  Female        BCA       147.0        20.0
4    Male        BCA       170.0        54.0
5  Female        BCA       139.0        33.0
6    Male        BCA       165.0        50.0
7    Male        BCA       152.0        43.0